<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>Nam scelerisque dapibus sapien, in fringilla odio pharetra at. Donec sed justo ut magna ornare pretium. Proin ac
        tortor quis arcu sagittis vulputate vitae ut nunc. Mauris pharetra augue sit amet tellus bibendum, et auctor
        lectus luctus. Nam iaculis, augue accumsan pellentesque fringilla, lacus sem maximus sapien, vitae hendrerit mi
        magna ut odio. Ut libero justo, egestas vitae quam a, fringilla pretium metus. In hac habitasse platea dictumst.
        Vivamus vel erat id mi ultrices varius. Nulla fringilla facilisis rutrum. Vivamus molestie nibh et lectus
        pretium mollis. Etiam at orci ac tortor congue eleifend iaculis eget libero. Ut magna metus, varius quis
        ullamcorper in, laoreet a lacus. Aliquam sed nibh nec libero mattis mattis quis vel nibh. Proin lobortis a nulla
        sit amet tincidunt.</p>

</article>